### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = df['SN'].nunique()
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
unique_items = df['Item ID'].nunique()
# Total Number of Purchases
tot_purch = df['Purchase ID'].count()
# Total Revenue
sum_price = df['Price'].sum()
# Average Purchase Price 
avg_price = df.Price.mean()
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                              "Average Price": [avg_price],
                              "Number of Purchases": [tot_purch],
                              "Total Revenue": [sum_price]})
summary_table
# currency style format
summary_table.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
absolute = df.groupby(['Gender', 'SN']).count().reset_index()['Gender'].value_counts(normalize=False)
normed = df.groupby(['Gender', 'SN']).count().reset_index()['Gender'].value_counts(normalize=True)*100
merged_df = pd.concat([absolute, normed], axis = 1)
merged_df.columns = ['Total Count', 'Percentage of Players']
merged_df
merged_df.style.format({'Percentage of Players':"{:,.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
group_gender = df.groupby('Gender').agg(['count', 'mean', 'sum'])
level0 = group_gender.columns.get_level_values(0)
level1 = group_gender.columns.get_level_values(1)
group_gender.columns = level0 + "_" + level1
group_gender = group_gender[['Price_count', 'Price_mean', 'Price_sum']]
group_gender = pd.concat([group_gender, absolute], axis=1, sort=True)
group_gender['Avg Total Purchase per Person'] = group_gender.Price_sum / group_gender.Gender
gg_gender_drop = group_gender.drop(['Gender'], axis=1)
gg_gender_drop
gg_gender_drop.columns = ['Purchase Count', 'Total Purchase Value', 'Average Purchase Price', 'Avg Total Purchase per Person']
gg_gender_drop.style.format({'Total Purchase Value':"${:,.2f}",
                             'Average Purchase Price':"${:,.2f}",
                             'Avg Total Purchase per Person':"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [76]:
#Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
df['Age Group'] = pd.cut(df['Age'], bins, labels=age_groups)
age_grouped = df.groupby('Age Group')


#Calculate the numbers and percentages by age group
count_tot_age = age_grouped['SN'].nunique()
#count_tot_age
total_players = df['SN'].nunique()
#total_players
percentage_age = (count_tot_age / total_players) * 100
#Create a summary data frame to hold the results
age_demographics = pd.DataFrame({'Total Count': count_tot_age, 'Percentage of Players': percentage_age})
age_demographics.style.format({'Percentage of Players':"{:,.2f}"})
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
df['Age Group'] = pd.cut(df['Age'], bins, labels=age_groups)
age_grouped = df.groupby('Age Group')
count_tot_age = age_grouped['SN'].nunique()

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
count_purch = age_grouped['Purchase ID'].nunique()
avg_purch_price = age_grouped['Price'].mean()
tot_purch_value = age_grouped['Price'].sum()
avg_total_pp = tot_purch_value / count_tot_age

#Create a summary data frame to hold the results
summary_table = pd.DataFrame({"	Purchase Count": count_purch,
                              "Average Purchase Price": avg_purch_price,
                              "Total Purchase Value": tot_purch_value,
                              "Avg Total Purchase per Person": avg_total_pp})

#Optional: give the displayed data cleaner formatting
#Display the summary data frame
summary_table.style.format({'Average Purchase Price':"${:,.2f}",
                            'Total Purchase Value':"${:,.2f}",
                            'Avg Total Purchase per Person':"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
#Top Spenders

#Run basic calculations to obtain the results in the table below
sn_grouped = df.groupby('SN')
count_tot_purch = sn_grouped['Purchase ID'].nunique()
#count_tot_purch
avg_purch_price = sn_grouped['Price'].mean()
#avg_purch_price
tot_purch_val = sn_grouped['Price'].sum() #count_tot_purch * avg_purch_price  <---other way to compute?
#tot_purch_val
#Create a summary data frame to hold the results
summary_table = pd.DataFrame({"Purchase Count": count_tot_purch,
                              "Average Purchase Price": avg_purch_price,
                              "Total Purchase Value": tot_purch_val,
                              })

#Sort the total purchase value column in descending order

summary_table.sort_values(by=['Total Purchase Value'], ascending=False).head()
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
#Retrieve the Item ID, Item Name, and Item Price columns
top_table = df[["Item ID", "Item Name", "Price"]]
#top_table.head()
#Group by Item ID and Item Name.
itemid_grouped = top_table.groupby(['Item ID','Item Name'])

#Perform calculations to obtain purchase count, item price, and total purchase value
count_purch = itemid_grouped['Price'].count()
purch_value = itemid_grouped['Price'].sum()
item_price = purch_value/count_purch
#tot_purch_value = 
#Create a summary data frame to hold the results
summary_table = pd.DataFrame({"Purchase Count": count_purch,
                              "Item Price": item_price,
                              "Total Purchase Value": purch_value,
                                })

#Sort the purchase count column in descending order
popular_formatted = summary_table.sort_values(["Purchase Count"], ascending=False)
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame
popular_formatted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [72]:
#Most Profitable Items

#Sort the above table by total purchase value in descending order
tot_purch_formatted = summary_table.sort_values(["Total Purchase Value"], ascending=False).head()
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame
tot_purch_formatted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80